* {
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

th{
    text-transform: lowercase;
}

.img-g{
    display: none;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #EDEFF3;
    display: flex;
    justify-content: center;
    align-self: center;
}

.painel {
    width: 1200px;
    height: 550px;
    background-color: #FEFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container1 {
    display: flex;

}

.div1 {
    height: 80px;
    width: 300px;
    background-color: #D07F38;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #FFFFFF;


}

.ul1 {
    list-style: none;
}

.div2 {
    height: 80px;
    width: 950px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container2 {
    display: flex;
    justify-content: center;

}

.text {
    margin-top: 35px;
    font-size: 16px;
}

.icon {
    margin-left: 15px;
    margin-top: 5px;
}

.pesquisar {
    height: 80px;
    width: 300px;
    margin-left: 20px;
    background-color: #FFFFFF;
}

.text-pesquisar {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #89929A;

}

.textboxp {
    width: 200px;
    height: 30px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    border: none;
    padding: 6px;
    outline: 0;
    font-size: 18px;

}

.user {
    margin-top: -50px;
    margin-left: 600px;
}

.user .ul1 .li1 {
    display: inline-block;
    margin: 10px;
    background-color: #FFFFFF;
    text-align: center;
    color: #A7ADB7;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    margin-top: -30px;

}

.user-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #A7ADB7;
}

.container3 {
    display: flex;
    margin-top: 50px;
}


.menu {
    width: 288px;
    height: 470px;
    background-color: #F08223;

}

.space {
    width: 300px;
    height: 475px;
    background-color: #FEFEFE;
}

.container-04 {
    display: flex;
    margin-top: -235px;
}

.space,
.container-04 {
    flex-grow: 1;
}

.ul2 .li2:hover {

    text-align: left;
    background-image: linear-gradient(to right, rgba(255, 165, 0, 1), rgba(255, 165, 0, 0.8), rgba(255, 165, 0, 0.5), rgba(255, 165, 0, 0));
    opacity: 0.7;
    cursor: pointer;
}

.letra-m {
    width: 50px;
    height: 50px;
    padding: 4px;
    margin-right: 10px;
    border-radius: 3px;

    background-color: #E5B02E;
}

.ul2 .li2 {
    width: 240px;
    height: 50px;
    margin: 9px;
    margin-left: 0px;

    text-align: center;

    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    border: 0px solid white;

}

.logo-uni {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 220px;
    margin-top: -54px;
}

.ul2 {
    list-style: none;
    display: block;
}

.btn .btn-li {
    display: inline-block;
}

.btn {
    list-style: none;
}

text {
    line-height: 50px;
}

.tab-listar {
    margin-top: 9px;
    height: 459px;
    width: 620px;
    background-color: #FEFEFE;

}

.tab-gastos {
    display: flex;
    width: 250px;
    height: 470px;
    background-color: #F08223;
    opacity: 0.5;
    overflow: hidden;
    margin-left: 42px;
    flex-wrap: wrap;

}

.tab-listar .tab-gastos {
    flex-grow: 1;

}

.container-compras {
    display: flex;
}

.status {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    width: 250px;
    height: 35px;
    background-color: #fff;
    margin-left: 50px;
    margin-top: 30px;
}

.table-container {
    font-family: 'Lato';
    width: 610px;
    height: 240px;
    padding: 8px;
    margin-left: 30px;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: 12px;
    border-top: 2px solid #89929A;
    border-bottom: 2px solid #89929A;

}

tr:first-child th,
tr:first-child td {
    border-top: none;

}

tr:first-child th {
    border-top: none;
    color: #89929A;
}


tr:last-child th,
tr:last-child td {
    border-bottom: 2px solid #89929A;

}


tr {
    text-align: center;

}

th:last-child td {
    background-color: green;
    color: white;
}

.btn-acoes {
    color: #FEFEFE;
    width: 50px;
    height: 40px;
    background-color: #f02222;
}

.btn-v {
    padding: 1px;


}

.border_data{
    background-color: #EAF8F3;
    font-weight: 700;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-produto {
    display: flex;
    width: 250px;
    height: 60px;
    margin-left: 40px;
    background-color: #F08223;
    font-family: 'Lato';
    font-style: normal;

    color: #FFFFFF;


}

.img-add,
.add {
    flex-grow: 1;

}

.img-add {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.add {
    margin-top: 18px;
    font-size: 22px;

}

.btn-produto:hover {
    cursor: pointer;
    background-color: #D07F38;
    border: 1px solid #F08223;
}

.data-cr {
    padding: 2px;
    width: 150px;
    height: 30px;
    line-height: 28px;
    color: #000000;
    border-radius: 8px;
    background-color: #EAF8F3;
}

text-gasto {
    display: block;
    font-family: 'Lato';
    font-size: 18px;
    text-align: center;
    color: #000000;
    width: 250px;
    height: 430px;
    background-color: #fff;
}



.text-gasto ul {
    list-style-type: none;
}

.text-gasto-v {
    font-family: 'Lato';
    font-size: 36px;
    text-align: center;
    color: #000000;
    flex-grow: 1;
}

.text1 {
    color: #000000;
    font-family: 'Lato';
    font-family: 22px;
    margin-top: 60px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-left: 100px;

}

.text2 {
    color: #000000;
    font-family: 'Lato';
    font-family: 32px;
    margin-top: 100px;
    font-style: normal;
    font-weight: 700;

    margin-left: -80px;

}

.text3 {
    color: #000000;
    font-family: 'Lato';
    font-family: 32px;
    margin-top: 150px;
    font-style: normal;
    font-weight: 700;

    margin-left: -50px;

}

.img-g {
    margin-left: -90px;
    margin-top: -40px;
}

.text4 {
    color: #000000;
    font-family: 'Lato';
    font-family: 16px;
    margin-top: -310px;
    font-style: normal;
    font-weight: 700;

    margin-left: 50px;

}


.text5 {
    color: #000000;
    font-family: 'Lato';
    font-family: 16px;
    margin-top: -430px;
    font-style: normal;
    font-weight: 700;

    margin-left: 110px;

}

.img-g1 {
    margin-left: -50px;
    margin-top: -580px;
    opacity: 1;
}

.form1 {
    width: 700px;
    height: 400px;
    font-family: 'Lato';

}

.caixa1 {
    width: 305px;
    height: 45px;
    padding: 8px;
    font-size: 18px;
    font-family: 'Lato';

    font-weight: 500;
    border: none;
    margin-top: 15px;
    background-color: #D9D9D9;
    color: #000000;
    outline: 0;
}

.caixa {
    width: 250px;
    height: 45px;
    padding: 8px;
    font-size: 18px;
    font-family: 'Lato';

    font-weight: 100;
    border: none;
    margin-top: 15px;
    background-color: #D9D9D9;
    color: #000000;
    outline: 0;
}

.caixa4 {
    width: 280px;
    height: 45px;
    padding: 8px;
    font-size: 18px;
    font-family: 'Lato';

    font-weight: 100;
    background: #E9E9E9;
    border: 1px solid #F08223;
    margin-top: 30px;
    margin-left: 25px;

    color: #000000;
    outline: 0;
}

.caixa5{

        width: 280px;
        height: 45px;
        padding: 8px;
        font-size: 18px;
        font-family: 'Lato';
    
        font-weight: 100;
        background: #E9E9E9;
        border: 1px solid #F08223;
        margin-top: 30px;
        margin-left: 72px;
    
        color: #000000;
        outline: 0;
    }

.textbox4 {
    margin-top: 100px;
}

.box {
    margin: 10px;

}

.spacex {
    width: 600px;
    height: 100px;
    background-color: #fff;
    margin: 50px;
    display: flex;
}

.spacex1 {
    width: 600px;
    height: 280px;
    margin: 50px;
    display: flex;
}

.box {
    flex-grow: 1;
}

.box1,
.box2 {
    flex-grow: 1;
}

.box1 {
    width: 45px;
    height: 230px;

}

.box2 {
    width: 290px;
    height: 230px;

}

.contentx {
    display: flex;


}

.textbox4 .caixa4 {
    flex-grow: 1;

}

label {
    font-weight: 700;
    font-size: 18px;
}


input {
    border: none;
}

.input-group {
    display: flex;
    width: 310px;
    height: 90px;
    margin-left: 5px;

}

.save-text:hover {
    cursor: pointer;
}


.btn-op {
    width: 145px;
    height: 45px;
    background-color: #F08223;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    margin-top: 36px;
    color: #FFFFFF;
    display: flex;
    border: none;

}

.btn-op:hover {
    cursor: pointer;
    cursor: pointer;
    background-color: #D07F38;
    border: 1px solid #F08223;
}

.save-text {
    font-size: 22px;
    margin-left: 15px;
    line-height: 45px;
}

.btn-op {
    flex-grow: 1;
    margin-left: 15px;
}

/*

Relatórios

*/

.menu-rel {
    height: auto;
    width: 800px;
    margin-left: 50px;
    margin-top: 10px;
    border: 0px solid #b62323;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-rel {
    width: 195px;
    height: 60px;
    background-color: rgba(255, 178, 111, 0.82);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; 
    margin-bottom: 10px; 

    margin: 10px;
}

.texto-rel {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
}

.menu-rel1 ul li {
    display: inline-block;
    margin-right: 15px; 
}

.menu-rel1 ul li:nth-child(3n) {
    margin-right: 0; 
}

.menu-rel1 ul {
    list-style: none;
}

.menu-rel1 ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}


painel11 {
    display: none;
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
    text-align: center;
    z-index: 2;
}

.painel-rel-prod{
    display: none;
    width: 900px;
    height: 500px;
    background-color: #fff;
    margin-top: -150px;
    margin-left: -20px;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.painel-rel-usu{
    display: none;
    width: 1030px;
    height: 500px;
    background-color: #fff;
    margin-top: -150px;
    margin-left: -140px;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.painel-rel-dividas{
    display: none;
    width: 900px;
    height: 500px;
    background-color: #fff;
    margin-top: -150px;
    margin-left: -20px;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.painel-rel-rateio{
    display: none;
    width: 900px;
    height: 500px;
    background-color: #fff;
    margin-top: -150px;
    margin-left: -20px;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.painel-rel-produtos{
    display: none;
    width: 900px;
    height: 500px;
    background-color: #fff;
    margin-top: -150px;
    margin-left: -20px;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.titulo3{
    font-family: 'Lato';
    font-size: 22px;
    font-weight: bold;
    padding-top: 50px;
    padding-left: 50px;
    position: absolute;
    
}
.tabela-rel{
    font-family: 'Lato';
    text-transform: lowercase;
    margin-top: 110px;
    margin-left: 50px;
    width: 120px;
    height: 120px;
    float: left;

}

.tabela-rel-usu{
    position:relative;
    font-family: 'Lato';
    text-transform: lowercase;
    margin-top: 200px;
    margin-left: 40px;
    width: 950px;
    height: 200px;

    display: flex;
    justify-content: space-between;
    overflow:auto;

}

.tabela-rel-usu table {
    margin-right: 10px; 
}

.fecharprod{
    font-family: 'Lato';
    font-size: 22px;
    width: 50px;
    height: 50px;
    background-color: #797474;
    color: rgb(0, 0, 0);
    position: absolute;
    text-align: center;
    margin-top: 30px;
    margin-left: 830px;
    line-height: 50px;
    color: #E9E9E9;
    font-weight: bolder;
    border-radius: 50px;
}

.fecharprod:hover{
    cursor: pointer;
    
    background-color: #797474c6;
}

.fecharusu{
    font-family: 'Lato';
    font-size: 22px;
    width: 50px;
    height: 50px;
    background-color: #797474;
    color: rgb(0, 0, 0);
    position: absolute;
    text-align: center;
    margin-top: -660px;
    margin-left: 950px;
    line-height: 50px;
    color: #E9E9E9;
    font-weight: bolder;
    border-radius: 50px;
}

.fecharusu:hover{
    cursor: pointer;
    background-color: #797474c6;
}

.button-rel-prod{
    width: 250px;
    height: 53px;
    background-color: #D07F38;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; 
    margin-top: 400px; 
    margin-left: 630px;
}

.button-rel-usu{
    width: 250px;
    height: 53px;
    background-color: #D07F38;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; 
    margin-top: -280px; 
    margin-left: 740px;
}


.button-rel-prod:hover{
    cursor: pointer;
}

.texto-rel-prod {
    font-family: 'Lato';
    font-size: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 30px;
    line-height: 53px;
}

.texto-rel-usu{
    font-family: 'Lato';
    font-size: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 30px;
    line-height: 53px;
}

.img-imprimir{
    margin-left: 30px;
}

select, option {
    outline: 0;
    font-family: 'Lato';
    height: 40px;
    width: 300px;
    margin-left: 20px;
    position: absolute;
    padding: 8px; /* Adiciona um espaçamento interno */
    font-size: 16px; /* Define o tamanho da fonte */
    background-color: #f5f5f5; /* Cor de fundo */
    color: #333; /* Cor do texto */
    border: 1px solid #ccc; /* Borda */
    border-radius: 4px; /* Bordas arredondadas */
}

.selecc{
    position: absolute;
    width: 120px;
    width: 250px;
    
    margin-top: 100px;
    margin-left: 50px;
}

.usuarios-rel{
    font-family: 'Lato';
    font-weight: 200;
 
}

.lab-comprado{
    margin-top: -30px;
    margin-left: 50px;
    font-family: 'Lato';
    position: absolute;
}

.lab-comprado1{
    margin-top: -30px;
    margin-left: 520px;
    font-family: 'Lato';
    position: absolute;
}

/*
    Sessão do Login para fazer o cadastro!
*/

.rosto-img{
    width: 350px;
    height: 400px;
    margin-left: 400px;
    margin-top: -200px;
    z-index: -1;
}

.imgrosto{
    margin-top: -80px;
    margin-left: 92px;
}

.button-sessao{
    width: 250px;
    height: 50px;
    margin-top: -90px;
    margin-left: 50px;
    background-color: #F08223;
}

.google-icon{
    background-color: #D07F38;
    height: 50px;
    width: 55px;
    margin-left: 195px;
    margin-top: -50px;
}

.texto-rosto{
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Lato';
    font-weight: bolder;
    text-transform: uppercase;
    margin-left: 80px;
    line-height: 50px;

}

.img-google{
    margin-left: 10px;
}

.button-sessao:hover{
    cursor: pointer;
    opacity: 0.8;
}

/*

Formuário para cadastro do login!

*/
.formulario-log{
    width: 800px;
    height: 330px;

    margin-top: -220px;
    margin-left: 100px;
}

.caixa-texto{
    margin-top: 15px;
    font-family: 'Lato';
    width: 280px;
    height: 50px;
    outline: 0;
    padding: 4px;
    background-color: #E4E4E4;
    font-size: 18px;
    padding-left: 20px;
}

.text-cadastro{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    font-family: 'Lato';
    text-transform: uppercase;
}

.clash1{
    margin-left: 80px;
    margin-top: 50px;
    position: relative;
}

.menu-formulario ul{
    list-style: none;
}

.menu-formulario ul li{
    display: inline-flex;
}

.button-cadastrar{
    width: 300px;
    height: 60px;
    background-color: #D07F38;
    margin-top: -160px;
    margin-left: 250px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    font-family: 'Lato';
    font-size: 20px;

    position: relative;
    z-index: 2;
}

.button-cadastrar:hover{
    cursor: pointer;
    background: linear-gradient(to right, #D07F38, #F08223);
    transition: background 0.4s ease; 
}



.fecharprod{
    font-family: 'Lato';
    font-size: 22px;
    width: 50px;
    height: 50px;
    background-color: #797474;
    color: rgb(0, 0, 0);
    position: absolute;
    text-align: center;
    margin-top: -660px;
    margin-left: 830px;
    line-height: 50px;
    color: #E9E9E9;
    font-weight: bolder;
    border-radius: 50px;
}

.fecharprod:hover{
    cursor: pointer;
    background-color: #797474c6;
}

.tabela-rel-prod{
    position:relative;
    font-family: 'Lato';
    text-transform: lowercase;
    margin-top: 200px;
    margin-left: 40px;
    width: 850px;
    height: 200px;

    display: flex;
    justify-content: space-between;
    overflow:auto;

}

.tabela-rel-prod table {
    margin-right: 20px; 
}

.button-rel-prod{
    width: 250px;
    height: 53px;
    background-color: #D07F38;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; 
    margin-top: -280px; 
    margin-left: 630px;
}

.cabecalho{
    width: 100%;
    margin-top: 20px;
    height: 60px;
    background-color: #D07F38;
}

.texto-cabecalho{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}